
:root{
  --coral: #fe1f4e;
  --purple: #9b09c9;
  --black: #0f0000;
  --orange: #FF5500;
  --blue: #0B1BF3;
  --pink: #EC04C5;
  --white:#F7F7F8;
 
}


.App {
  text-align: center;
}


body {
  background-color: var(--white);
  
  }
  
  h1{
    padding-top:'40px';
    text-align: 'center';

  }



  p{
    text-indent:50px;
  }


  .navbar{
    width:100%;
    margin-right:5%;
    color: var(--white);
  }

  .header{
 
    background-image:url("assets/hero_1.jpg");
    background-position: center;
 display:flex;
 justify-content: center;
height:700px;
width:auto;
background-size: cover;
background-color:var(--black);
background-repeat: no-repeat;
/*opacity: 85%;*/
margin:50px 0px 0px 0px;


  }


  .header_title{
    display:block;
    text-align: center;
    margin:auto;
    align-content: center;
    width:100%;
    color:var(--white)

   
  }

  .header_title_first {
    font-size: 30px;
    color:var(--coral)
  }
  .header_title_second {
    font-size: 30px;
    color:purple
  }

  
  .btn_contact{
    padding:15px;
    margin:15px 20px 15px 20px;
    color: var(--white);
    background-color: var(--coral);
    border: none;
    border-radius: 3px;
    border:3px solid var(--coral);
    
  }


  .btn_contact:hover{
    
    color: var(--coral);
    background-color: var(--white);

    
  }

.aboutme{
  margin: 50px 100px 20px 50px;
 
  display:block;
 
 
}

.aboutme_content{
  display: flex;
  
  justify-content: center;
  text-align: center;

}

.aboutme_box{
background-color: var(--black);
width:80%;
height: 70%;
border-radius: 20px;
padding:2%;

/* offset-x | offset-y | blur-radius | color */
box-shadow: 8px 5px 9px var(--orange);
color: var(--white);

}




  .card {
  
    width:20rem;
  }
  
  .card:hover{
      box-shadow:5px 10px 20px 1px rgba(0,0,0,0.253)!important
  }

  .card-body {
    text-align: center;
    padding: 3rem 0!important;
  }

  .card-text{
    
    font-size: 1rem;
    padding:0.4rem 1.9rem
  }

  .container-fluid .row {
    padding-top:6rem
  }


  .headerImg {
    height: 500px;
  }
  
  .myHeroTitle{
    padding-right:30px;
  }
  

/*navbar styling*/
  /* change the background color */
.navbar{
  background-color: var(--black);
  
  
}

  .nav{
    display: flex;
    justify-content: flex-end;
    width:100%;

    
  }

  
  .nav-menu-items{
    width:100%;
    
    
  }

  @media only screen and (max-width:960px){
    .nav-menu-items{
      width:100%;
       margin-top:40%;
       position:absolute;
       justify-content:right;
      text-align:center;
      background-color: var(--black);
    }
  }

  .nav-link{
    color:var(--white);
    
  }

  .navlink{
    color:var(--white)
  }
 
  a.navlink.nav-link.active {
   
    text-decoration: underline solid var(--coral) 3px;
    background-color: var(--black);
    color:var(--white)
    
  }
  .navlink.nav-link:hover {
    text-decoration: underline solid var(--coral) 3px;
    background-color: var(--black);
    color:var(--white)
  }

  .navlink.nav-link:focus {
   color:var(--coral);

  }

  /* Make navigation link active when scrolled section

  /** active navigation **/
/*.nav-container.scroll a.active {
  color: var(--black);
  border-bottom: 2px solid #000;
}*/
/*Card*/

/*card footer icons*/

.card-footer{
  size:"2x";
  animation: 'spin';
  
  color:'white';
  padding:'20px' ;
  

}





/*carousal modal*/

.modal-90w {

  width: 1200px;
  background-color: red;

}


.btnPlayIcons :active{

  border: 'none';

};


/* icons*/
.icon_menu{
 color:var(--coral)
}